
#root { height:100%; }

.logo {
    height: 2.5rem;
}


@keyframes popupFadeIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup {
    animation-name: popupFadeIn;
    animation-duration: .3s;
}


.selected {
    background-color: #ddffdd;
}

.clickable {
    cursor: pointer;
}
