
#root { height:100%; }

.logo {
    height: 1.8rem;
}


@keyframes popupFadeIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup {
    animation-name: popupFadeIn;
    animation-duration: .3s;
}

.pf-c-page__sidebar.pf-m-dark {
  color: var(--pf-global--Color--100);
  --pf-c-page__sidebar--BackgroundColor: #8f0000;
}

.pf-c-nav__list .pf-m-current.pf-c-nav__link::after, .pf-c-nav__list .pf-m-current > .pf-c-nav__link::after {
    background-color: #f3f3f3;
}

.selected {
    background-color: #ddffdd;
}

.clickable {
    cursor: pointer;
}
